body{

    background-color:#041C32;
    font-family: 'Open Sans', sans-serif;
    font-size:34px;
    font-weight: bold;
}


main{
    display: flex;
    width : 100%;
    margin : 0 auto;
    width : 940px;
    align-content : center;
}

.wrapper{
    height:7 rem;
    display:block;
    overflow-y: hidden;
}

.mainTitle{

    color:#ECB365;
    display : flex;
    align-items: center;
    flex-direction: column;
    margin : 40px auto;
    font-size:3rem;
    animation: slide-up 1.5s;

}
@keyframes slide-up{
    from{
        transform: translateY(3rem);
    }
    to{
        transform: translateY(0);
    }
}


.inputArea{

    display: flex;
    flex-direction: column;
    align-items: center;
  

}

#textInput{

    border-color:transparent;
    width: 410px; 
    height: 480px; 
    background-color:#041C32;
    font-size: 3rem;
    color:#ECB365;
   


}::placeholder{
    color:	#ECB365;
    font-size:3rem;
    animation : slide-up 1.5s;

}





.messageBox{

    display: flex;
    align-items: center;
    flex-direction: column;    
    margin: 0 auto;
    margin: 0 0 0 40px;

    
}

#result{

    background-color:#04293A;
    border-radius: 10px;
    border-color:transparent;
    color: #ECB365;
    width: 410px; 
    height: 480px; 
    font-size: 3rem;

}

.buttons{

    display:flex;
    flex-direction:row;
    align-items: center;  
    width : 100%;
    margin-top: 30px;
}

.encrypt{
    border-style: solid;
    width:45%;
    background: #04293A;
    color:#ECB365;
    border-color: #ECB365;
    border-radius:10px;
    height: 60px;
    font-size:2rem;
    margin: 0 auto;
    
}

.decrypt{
    width:45%;
    background: #064663;
    color:#ECB365;
    border:none;
    margin: 0 auto;
    border-radius:10px;
    height: 60px;
    font-size:2rem;

}

.copy{
    border-color:transparent;
    border-radius:10px;
    margin-top: 30px;
    width: 410px;
    align:center;
    height: 60px;
    font-size:2rem;
    background-color: #ECB365;
    color:#04293A;
    font-weight: bold;

}

footer{
    background-color:#041C32;
}


@media screen and (max-width:480px){

header{
    width:100%;
    text-align:center
}


main{ 
    width:80%;
    display:flex;
flex-direction:column;}

#textInput, #result, .buttons, .copy{
    width:95%;
}

.messageBox{
    margin:20px 0 0 0;
}

.copy{

    margin: 0 0 40px 0;
}

}
